html {
    scroll-behavior: smooth;
}

body {}


.text {
    font-size: var(--space);
    color: var(--c-black);
    font-weight: normal;
    line-height: inherit;
}

.bold {
    font-weight: bold;
}

.text-shadow {
    text-shadow: 0 0 2px var(--c-black);
}


h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: var(--c-primary);
    //text-decoration: underline wavy currentColor;
}

h1,
.h1 {
    text-transform: uppercase;
    font-size: 4rem;
}

h2,
.h2 {
    font-size: 3.5rem;
}

h3,
.h3 {
    font-size: 3rem;
}

h4,
.h5 {
    font-size: 2.5rem;
}

h5,
.h5 {
    font-size: 2rem;
}

h6,
.h6 {
    font-size: 1.5rem;
    text-transform: uppercase
}