.timer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: bold;
    // background-color: var(--c-white);
    // padding: var(--space);
    color: var(--c-white);
}