<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- IBM Plex font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">

    <!-- Dashboard styles -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.min.css')}}">

    <!-- App styles -->
    <link rel="stylesheet" href="{{url_for('static',filename='css-app/css-app.css')}}">
    <!-- App -->

    <title>AUTOFINGER</title>
</head>

<body>

    <div class="dashboard">


        <header>
            <div class="header_uno">
                <h1>
                    Autofinger
                </h1>
            </div>
            <div class="header_dos">
                <h2 class="text">
                    Autofinger és una tecnología que, mitjançant imatges capturades en temps real, amb càmeres
                    estratègicament col·locades, automatitza el procés de connexió entre el finger d’embarcament i la
                    porta de l’avió, en un procés supervisat.
                </h2>
            </div>
        </header>
        <style>
     
          </style>

        <nav>
            <ul class="nav_menu">
                <li class="nav_menu--item"><a href="/livestream">
                        <ion-icon name="home-outline"></ion-icon> Inicio
                    </a></li>
                <li class="nav_menu--item"><a href="/img_processing">
                        <ion-icon name="image-outline"></ion-icon> Imágenes procesadas
                    </a></li>
                    <li class="nav_menu--item"><a id="servidorActivo">
                        Estado del servidor: Detenido
                 </a></li>
            </ul>

            <div class="nav_buttons">
                <a class="" role="button" onclick="start_instances()" type="button">
                    <ion-icon name="power-outline"></ion-icon> Iniciar servidores
                </a>
                <a class="" role="button" onclick="stop_instances()" type="button">
                    <ion-icon name="ban-outline"></ion-icon> Detener servidores
                </a>
            </div>
        </nav>
        <main>
            <div class="autofinger_container--process">
                <div class="img_table">
                    <img id="1" class="img_table--item" src="{{url_for('static',filename='sample_images/sample.jpg')}}"
                        alt="img1" width="110" height="100">
                    <img id="2" class="img_table--item" src="{{url_for('static',filename='sample_images/sample2.jpg')}}"
                        alt="img1" width="110" height="100">
                    <img id="3" class="img_table--item" src="{{url_for('static',filename='sample_images/sample3.jpg')}}"
                        alt="img1"  width="110" height="100">
                    <img id="4" class="img_table--item" src="{{url_for('static',filename='sample_images/sample4.jpg')}}"
                        alt="img1"  width="110" height="100">
                    <img id="5" class="img_table--item" src="{{url_for('static',filename='sample_images/sample5.jpg')}}"
                        alt="img1"  width="110" height="100">
                    <img id="6" class="img_table--item" src="{{url_for('static',filename='sample_images/sample6.jpg')}}"
                        alt="img1"  width="110" height="100">
                    <img id="7" class="img_table--item" src="{{url_for('static',filename='sample_images/sample7.jpeg')}}"
                        alt="img1"  width="110" height="100">
                    <img id="8" class="img_table--item" src="{{url_for('static',filename='sample_images/sample8.jpeg')}}"
                        alt="img1"  width="110" height="100">
                    <img id="9" class="img_table--item" src="{{url_for('static',filename='sample_images/sample9.jpg')}}"
                        alt="img1"  width="110" height="100"></td>
                    <img id="10" class="img_table--item" src="{{url_for('static',filename='sample_images/sample10.jpg')}}"
                        alt="img1"  width="110" height="100"></td>
                    <img id="11" class="img_table--item" src="{{url_for('static',filename='sample_images/sample11.jpg')}}"
                        alt="img1"  width="110" height="100"></td>
                    <img id="12" class="img_table--item" src="{{url_for('static',filename='sample_images/sample1.jpg')}}"
                        alt="img1"  width="110" height="100"></td>
                </div>


                <div class="">
                    <div id="spinner-div" class="pt-5">
                        <div class="spinner-border text-primary" role="status"></div>
                    </div>
                    <img id="imgdisplay" class="camera"
                        src="https://img.freepik.com/premium-photo/beautiful-blue-sky-clouds-with-daylight-natural-background-vast-blue-sky-clouds-sky_387624-36.jpg?w=580"
                        alt="Cargando Imagen...." />
                </div>
            </div>
            <div class="imgselect"></div>
        </main>
        <footer>
            <div class="footer_uno">

            </div>
            <div class="footer_dos">
                <img src="{{url_for('static',filename='img/logo-primary.png')}}">
            </div>
        </footer>
    </div>

</body>


<!-- App Js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="https://cdn.socket.io/4.4.1/socket.io.min.js"
    integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous">
</script>
<!-- Main Js -->
<script src="{{url_for('static',filename='js/js.js')}}"></script>
<script src="{{url_for('static',filename='js/js-app.js')}}"></script>
<script src="{{url_for('static',filename='js/img_upload.js')}}"></script>
<script src="{{url_for('static',filename='js/image_processing.js')}}"></script>
<script src="{{url_for('static',filename='js/manage_servers.js')}}"></script>

<!-- Ion Icons https://ionic.io/ionicons -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</html>