<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- IBM Plex font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">

    <!-- Dashboard styles -->
    
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.min.css')}}">

    
    <!-- App styles -->
    <link rel="stylesheet" href="{{url_for('static',filename='css-app/css-app.css')}}">

    <!-- App -->

    <title>AUTOFINGER</title>
</head>

<body>

    <div class="dashboard">


        <header>
            <div class="header_uno">
                <h1>
                    Autofinger
                </h1>
            </div>
            <div class="header_dos">
                <h2 class="text">
                    Autofinger és una tecnología que, mitjançant imatges capturades en temps real, amb càmeres
                    estratègicament col·locades, automatitza el procés de connexió entre el finger d’embarcament i la
                    porta de l’avió, en un procés supervisat.
                </h2>
            </div>
        </header>


        <nav>
            <ul class="nav_menu">
                <li class="nav_menu--item"><a href="/livestream">
                        <ion-icon name="home-outline"></ion-icon> Inicio
                    </a></li>
                <li class="nav_menu--item"><a href="/img_processing">
                        <ion-icon name="image-outline"></ion-icon> Imágenes procesadas
                    </a></li>
            </ul>

            <div class="nav_buttons">
                <a class="" role="button" onclick="start_instances()" type="button">
                    <ion-icon name="power-outline"></ion-icon> Iniciar servidores
                </a>
                <a class="" role="button" onclick="stop_instances()" type="button">
                    <ion-icon name="ban-outline"></ion-icon> Detener servidores
                </a>
            </div>
        </nav>
        
        <main>
            <div class="autofinger_container">

                <div class="autofinger_container--pictures">
                    <img id="framedisplay" class="camera"
                        src="https://services.meteored.com/img/article/cuantos-azules-tiene-el-cielo-289011-2_1024.jpg"
                        alt="imagen" />
                    <img id="imgdisplay" class="camera"
                        src="https://services.meteored.com/img/article/cuantos-azules-tiene-el-cielo-289011-2_1024.jpg"
                        alt="imagen" />
                </div>

                <div class="autofinger_container--buttons">
                    <button style="visibility: hidden;"  id="startButton" type="button" onclick="openConnection()">Iniciar reconocimiento de
                        puertas</button>
                    <button style="visibility: hidden;"  id="stopButton" type="button" onclick="closeConnection()">Detener reconocimiento de
                        puertas</button>
                </div>
         
            </div>
   
        </main>
        <div id="mi-modal" class="modal">
            <div class="modal-contenido">
              <div id="barra-carga" class="barra-carga"></div>
            </div>
          </div>
        <footer>
            <div class="footer_uno">

            </div>
            <div class="footer_dos">
                <img src="{{url_for('static',filename='img/logo-primary.png')}}">
            </div>
        </footer>
    </div>

</body>

<!-- Main Js -->



<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://cdn.socket.io/4.5.0/socket.io.min.js"
    integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdn.socket.io/4.4.1/socket.io.min.js"
    integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous">
</script>

<script src="{{url_for('static',filename='js/js.js')}}"></script>


<!-- App Js -->
<script src="{{url_for('static',filename='js/js.js')}}"></script>
<script src="{{url_for('static',filename='js/js-app.js')}}"></script>
<script src="{{url_for('static',filename='js/manage_servers.js')}}"></script>

<!-- Ion Icons https://ionic.io/ionicons -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</html>